{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('css/home.css') }}" />
{% endblock %}

{% block body %}
  {{ parent() }}

  <div id="carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">

      <div class="carousel-item active" style="background-image: url('{{ asset('images/caroussel/image_web.jpg') }}')">
        <div class="carousel-caption d-none d-md-block col-lg-5 p-3">
          <h5 class="title-caroussel-caption">DÉVELOPPEMENT WEB</h5>
          <p class="text-caroussel-caption mb-0">Je développe vos solutions web frontend et backend autour des technologies suivantes : HTML, CSS, Bootstrap, JavaScript, jQuery, Ajax, PHP, Symfony, WordPress,...<a href="#" class="clickable-link">En savoir plus</a></p>
        </div>
      </div>

      <div class="carousel-item" style="background-image: url('{{ asset('images/caroussel/image_3D_final_bis.jpg') }}')">
        <div class="carousel-caption d-none d-md-block col-lg-5 p-3">
          <h5 class="title-caroussel-caption">INFOGRAPHIE 3D</h5>
          <p class="text-caroussel-caption mb-0">Je réalise vos contenus 3D du storyboard au produit final pour un large panel d'utilisation : images fixes, films d'animation, immersions 360°, réalité virtuelle, réalité augmentée, serious game,...<a href="#" class="clickable-link">En savoir plus</a></p>
        </div>
      </div>

      <div class="carousel-item" style="background-image: url('{{ asset('images/caroussel/image_motion_bis.jpg') }}')">
        <div class="carousel-caption d-none d-md-block col-lg-5 p-3">
          <h5 class="title-caroussel-caption">MOTION DESIGN</h5>
          <p class="text-caroussel-caption mb-0">Je crée et produit vos animations en motion design pour tous vos contenus en cohérence avec votre charte graphique : 2D, 3D, parallax, cartoon...<a href="#" class="clickable-link">En savoir plus</a></p>
        </div>
      </div>

      <div class="carousel-item" style="background-image: url('{{ asset('images/caroussel/image_management.jpg') }}')">
        <div class="carousel-caption d-none d-md-block col-lg-5 p-3">
          <h5 class="title-caroussel-caption">GESTION DE PROJET</h5>
          <p class="text-caroussel-caption mb-0">Je vous accompagne et suis force de proposition de la définition de votre besoin à la livraison du produit final : définition du paramètre projet, rédaction du cahier des charges fonctionnel et technique, mise en place d'outils collaboratif, reporting régulier,...<a href="#" class="clickable-link">En savoir plus</a></p>
        </div>
      </div>

      <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </div> <!--End carousel -->

  <div class="empty-div">
  </div>


  <div class="col-lg-11 m-auto bloc-services">
    <h1>SERVICES</h1>
    <p class="col-lg-11 m-auto text-justify">
      Je suis capable de répondre à des besoins ciblés (réalisation de contenus multimédias, développement de bundles) ou de réaliser votre projet clé en main, de la définition de votre besoin à la livraison du produit final. Tout en travaillant en toute autonomie, je mets l'accent sur la communication et le reporting dans mon processus de travail, garantissant ainsi que les projets répondent correctement aux besoins de mes clients dans le respect des coûts, des délais et de la qualité attendue.
    </p>
    <div class="col-lg-12 m-auto div-img-services text-center">
      <img class="image-services" src="{{ asset('images/services/services.jpg') }}">
    </div>
  </div> <!--End bloc-services-->

  <div class="bloc-technologies">
    <div class="col-lg-11 m-auto">
      <h1>TECHNOLOGIES</h1>
      <p class="col-lg-11 m-auto text-justify">
        Je maitrise les technologies suivantes. Ces compétences me permettent d'avoir une vision globale sur un produit digital tout au long de son cycle de vie. Je suis à même de réaliser tout type de produits sans intermédiaires.
      </p>
      <div class="col-lg-11 ml-auto mr-auto mt-3 text-center bloc-icone-technologies pt-3 pb-3">
        <img class="icone_technologie" src="{{ asset("images/technologies/html.jpg") }}" alt="icone_technologie">
        <img class="icone_technologie" src="{{ asset("images/technologies/css.jpg") }}" alt="icone_technologie">      
        <img class="icone_technologie" src="{{ asset("images/technologies/bootstrap.jpg") }}" alt="icone_technologie">      
        <img class="icone_technologie" src="{{ asset("images/technologies/javascript.jpg") }}" alt="icone_technologie">
        <img class="icone_technologie" src="{{ asset("images/technologies/jquery.jpg") }}" alt="icone_technologie">
        <img class="icone_technologie" src="{{ asset("images/technologies/ajax.jpg") }}" alt="icone_technologie">
        <img class="icone_technologie" src="{{ asset("images/technologies/php.jpg") }}" alt="icone_technologie">
        <img class="icone_technologie" src="{{ asset("images/technologies/mysql.jpg") }}" alt="icone_technologie">
        <img class="icone_technologie" src="{{ asset("images/technologies/symfony.jpg") }}" alt="icone_technologie">
        <img class="icone_technologie" src="{{ asset("images/technologies/git.jpg") }}" alt="icone_technologie">
        <img class="icone_technologie" src="{{ asset("images/technologies/github.jpg") }}" alt="icone_technologie">
        <img class="icone_technologie" src="{{ asset("images/technologies/wordpress.jpg") }}" alt="icone_technologie">
        <img class="icone_technologie" src="{{ asset("images/technologies/taiga.jpg") }}" alt="icone_technologie">
        <img class="icone_technologie" src="{{ asset("images/technologies/trello.jpg") }}" alt="icone_technologie">
        <img class="icone_technologie" src="{{ asset("images/technologies/after.jpg") }}" alt="icone_technologie">
        <img class="icone_technologie" src="{{ asset("images/technologies/photoshop.jpg") }}" alt="icone_technologie">
        <img class="icone_technologie" src="{{ asset("images/technologies/max.jpg") }}" alt="icone_technologie">
        <img class="icone_technologie" src="{{ asset("images/technologies/maya.jpg") }}" alt="icone_technologie">
        <img class="icone_technologie" src="{{ asset("images/technologies/rhino.jpg") }}" alt="icone_technologie">      
        <img class="icone_technologie" src="{{ asset("images/technologies/unity.jpg") }}" alt="icone_technologie">
      </div>
    </div>
  </div> <!--End bloc-technologie-->

  <div class="col-lg-11 m-auto bloc-realisations">
    <h1>RÉALISATIONS</h1>
    <p class="col-lg-11 m-auto text-justify">
      Vous trouverez dans la vidéo présenté ici quelques exemples de mes réalisations de contenus 3D, de motion design et de développement. Vous trouverez également sous la vidéos quelques images de réalisations. N'hésitez pas à me contacter pour plus d'informations.
    </p>

    <div class="col-lg-10 ml-auto mr-auto mt-3">
      <video width="100%" controls loop poster="{{ asset('images/realisations/Showreel_2.jpg') }}">
        <source src="{{ asset('images/realisations/Showreel_2.mp4') }}" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
    </div>

    <div class="row mt-4">
      {% for i in 1..16 %}
        <div class="col-lg-3 p-0 m-0">
          <img class="icone-realisation" src="{{ asset('images/realisations/Projet (' ~ i ~ ').jpg') }}" alt="icone_realisation">
        </div>
      {% endfor %}
    </div>
  </div> <!--End bloc-realisations-->


  <div class="bloc-contact">
    <div class="col-lg-11 m-auto">
      <h1>CONTACT</h1>
      <p class="col-lg-11 m-auto text-justify">
        Pour toutes informations complémentaires, n'hésitez pas à me contacter.
      </p>
      <div class="formulaire col-lg-8 ml-auto mr-auto mt-3 pt-5 pb-5">
         <h3 class="text-center"><strong>Thibault FIACRE</strong></h3>
          <p class="text-center">
            28 avenue Victor Hugo<br/>
            26 000 Valence<br/>
            thibault.fiacre@gmail.com<br/>
            06.84.86.83.94
          </p>

          <!-- Gestion des messages flash -->
          {% for message in app.flashes('Error') %}
            <div class="error-message col-lg-11 m-auto">
              <i class="fa fa-exclamation-circle mr-2" aria-hidden="true"></i>
              {{ message }}
            </div>
          {% endfor %}

          {% for message in app.flashes('Success') %}
            <div class="success-message col-lg-11 m-auto">
              <i class="fa fa-check-circle mr-2" aria-hidden="true"></i>
              {{ message }}
            </div>
          {% endfor %}

          <div class="col-lg-11 m-auto">
            {{ form(form) }}
            <p class="font-italic">Les champs marqués d'un * sont obligatoires.</p>
          </div>
        
      </div>
    </div>
  </div> <!--End bloc-contact-->



{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('JS/home.js') }}"></script>
{% endblock %}
