{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('css/services.css') }}" />
{% endblock %}

{% block body %}
  {{ parent() }}

  <div class="container-fluid">
    <h1>Mes services</h1>
    <p>Je suis capable de répondre à des besoins ciblés (réalisation de contenus, développement de bundles, etc.) ou de vous réaliser votre projet clé en main, de la défintion de votre besoins à la livraison du produit final.</p>
    <div class="row justify-content-between">
      <div class="col-lg-3 pr-4 pl-4">
        <img class="icone-service" src="{{ asset('images/services/icone_project_management.png') }}" alt="icone_project_management">
        <h4 class="text-center mt-2">GESTION DE PROJET</h4>
        <p class="text-center">Définition de vos besoins, rédaction du cahier des charges fonctionnel et technique, établissement et gestion du planning, réalisation du plan de charges, mise en place d'outils collaboratifs.</p>
      </div>
      <div class="col-lg-3 pr-4 pl-4">
        <img class="icone-service" src="{{ asset('images/services/icone_web_design.png') }}" alt="icone_web_design">
        <h4 class="text-center mt-2">DEVELOPPEMENT WEB</h4>
        <p class="text-center">Frontend & backend autour des technologies suivantes : HTML, CSS, Bootstrap, JavaScript, jQuery, Ajax, Php, Symfony.</p>
      </div>
      <div class="col-lg-3 pr-4 pl-4">
        <img class="icone-service" src="{{ asset('images/services/icone_3d.png') }}" alt="icone_3d">
        <h4 class="text-center mt-2">INFOGRAPHIE 3D</h4>
        <p class="text-center">Contenus 3D pour vos projets, du storyboard au produit final : images fixes, animations 3D, contenus 360°.</p>
      </div>
      <div class="col-lg-3 pr-4 pl-4">
        <img class="icone-service" src="{{ asset('images/services/icone_motion_design.png') }}" alt="icone_motion_design">
        <h4 class="text-center mt-2">MOTION DESIGN</h4>
        <p class="text-center">Animations motion design pour vos appplications : 2D, parallax, compositing, VFX.</p>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('JS/services.js') }}"></script>
{% endblock %}
